<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <main>
      <section class="hero">
        <div class="container">
          <div class="hero__form-box">
            <form class="hero__form js-form">
              <input
                class="hero__form-name"
                type="text"
                placeholder="Firstname"
                id="firstName"
                name="firstName"
              />
              <input
                class="hero__form-age"
                type="number"
                placeholder="Age"
                id="age"
                name="age"
              />
              <select
                class="hero__form-gender"
                type="text"
                id="gender"
                name="gender"
              >
                <option value="" hidden>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <button>Delete</button>
            </form>
          </div>
        </div>
      </section>
    </main>

    <script src="../JavaScript/types.js"></script>
    <script src="../JavaScript/request.js"></script>
    <script src="../JavaScript/update.js"></script>
  </body>
</html>
